body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }
  .past-due-header {
    background-color: red;
    color: Black;
   
}
  
.past-due-card {
  background-color: red;
  color: Black; 
  font-weight: bold;
}
.due-today {
  background-color: yellow;
  font-weight: bold;
}